.card {
  // background-color: #209edb;
  padding: 2%;
  .recent-activities, .frequent-activities {
    width: 20rem;
    padding: 0;
    ;
    .list {
      padding-top: 0px;
    }
    .header{
      background-color: #209edb;
      color: white;
    }
  }
}
