#mifosx-toolbar {
  position: relative;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #209edb;


  .tab-link {
    min-width: auto;
    padding: 0 1rem;
    color: white;
    font-size:  14px;
    text-decoration: none;
    cursor: pointer;    
  }
  tab-link:after {
    position: absolute;
    left: 10px;
    content: '';
    height: 40px;
    width: 275px;
    border-bottom: solid 3px white;
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
    opacity: 0;
  }
  
  tab-link:hover:after {
    opacity: 1;
  }
  .search-bar {
    .search {
      max-width: 400px;
      width: 100%;
      font-size: 1rem;
      color: white;
    }
    color: white;
  }

  .language {
    min-width: 80px;
    width: 80px;
    font-size: 0.875rem;
    margin-top: 0.375rem;
    color: white;
  }

  .img-button {
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .ml-1 {
    margin-left: 1rem;
  }

  .mr-1 {
    margin-right: 1rem;
  }
}
.bars{
 color: white;
}

.search-tool {
  color: white;

}
.notifications{
  color: white;
}